.statistics {
  display: flex;
  justify-content: flex-start;
  gap: 24px;

  &_list {
    width: 25%;
    padding: 24px;
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 24px;
    font-size: 16px;
    color: #838ca1;
  }

  &_main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &_icon {
    margin-top: 10px;
  }

  &_mainText {
    flex: 1;
  }

  &_count {
    font-size: 32px;
    line-height: 42px;
    font-weight: 700;
    color: #000;
    margin: 14px 0;
    font-family: D-DIN-Bold;
  }

  &_last {
    line-height: 24px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &_lastCount {
    font-size: 20px;
    font-weight: 700;
    color: #000;
  }
}
