.customTooltipRoot {
  max-width: 540px;
  word-break: break-all;
  font-size: 12px;

  :global {
    .ant-badge {
      .ant-badge-status-text {
        color: #fff;
      }
    }
  }
}

.customTooltipTitle {
  display: flex;
  justify-content: center;

  a {
    color: #fff;
  }
}
