.regionSelect {
  color: #000;
}

.dropForm {
  padding: 12px 0;
  background-color: #fff;
  border-radius: 2px;
  box-shadow:
    0 6px 16px 0 rgba(0, 0, 0, 8%),
    0 3px 6px -4px rgba(0, 0, 0, 12%),
    0 9px 28px 8px rgba(0, 0, 0, 5%);
  overflow: hidden;

  :global {
    .formWrap {
      padding: 0 12px;
    }

    .btns {
      padding: 8px;
      padding-bottom: 0;
      border-top: 1px solid #eff1f4;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 8px;
    }
  }
}
