.card {
  margin-top: 16px;
  background-color: #fff;
  padding: 0 24px 24px 22px;
  border-radius: 2px;

  &_header {
    padding: 24px 0 17px;
    display: flex;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
    // border-bottom: 1px solid #eff1f3;

    &_left {
      position: relative;
      padding-left: 8px;
      display: flex;
      align-items: center;
      height: 28px;
      font-size: 18px;
      font-family: Roboto-Medium, Roboto;
      font-weight: 500;
      color: #000;

      &::after {
        position: absolute;
        left: 0;
        top: 6px;
        display: block;
        content: '';
        width: 4px;
        height: 16px;
        border-radius: 0 3px 3px 0;
        background: #009688;
      }
    }

    &_right {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }
  }
}

.billingEdit {
  padding: 0;
}

.tagInfo {
  max-width: 800px;
}
