.checkboxCombo {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  :global {
    .custom-checkbox-group {
      gap: 8px;

      .ant-checkbox-group-item {
        // width: 250px;
        display: flex;
        align-items: start;
      }
    }
  }
}
