.search {
  :global {
    .ant-input-search-button {
      border-radius: 6px;
    }
  }
}

.linkJump {
  cursor: pointer;
  color: var(--primary-color);
  text-decoration: underline;
  margin: 0 2px;
}
