.claimRequestList {
  // height: 400px;
  :global {
    .ant-pro-query-filter {
      padding: 0 0 24px;
    }

    .ant-form-item {
      margin-bottom: 0 !important;
    }

    .ant-pro-card-body {
      padding: 0 0 24px;
    }
  }
}

.proofUrl {
  width: 100%;
  cursor: pointer;
  color: #009688;
}

.requestTool {
  z-index: 999;

  .proofUrl {
    color: #fff;

    &:hover {
      color: #009688;
    }
  }
}
