.number {
  text-decoration: underline;
  cursor: pointer;
  color: #009688;
}

.container {
  padding: 8px 12px;
  background-color: #fff;

  .title {
    font-size: 20px;
    font-weight: 600;
    color: rgba(0, 0, 0, 88%);
    margin-bottom: 8px;
  }

  .total {
    font-size: 14px;
    color: rgba(0, 0, 0, 45%);

    span {
      margin-right: 10px;
      color: rgba(0, 0, 0, 85%);
    }
  }
}
