.customerCodePopover {
  max-width: 240px;
}

.rangeInput {
  width: 209px !important;
}

.customSwitch {
  height: 32px;
  padding: 0 4px;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 2%);
  border-radius: 6px 0 0 6px;
  border: 1px solid #d9d9d9;
  border-right: none;
}
