.editableCellForm {
  margin-top: 12px;

  :global {
    .no-need-text {
      padding: 16px;
      background-color: #f5f5f5;
      border-radius: 6px;
      color: var(--character-title-45);
    }

    .btn-group {
      margin-top: 24px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 8px;
    }
  }
}
