.trendsMain {
  width: 100%;
  margin-bottom: 16px;
  background-color: #fff;
  padding: 12px;
  overflow: hidden auto;
}

.trendsContent {
  display: flex;
  justify-content: flex-start;
}

.trendsChart {
  width: calc(100% - 250px);
  padding: 0 12px;
}
