.settingsTitle {
  font-size: 14px;
  font-weight: 500;
  color: #252525;
  line-height: 22px;
  margin-bottom: 16px;
}

.other {
  padding: 8px 12px;
  color: rgba(0, 0, 0, 25%);
  cursor: pointer;

  &:hover {
    color: var(--primary-color);
  }
}

.otherInputOk {
  padding: 0;
  margin-left: 5px;
  color: var(--primary-color);
}

.otherInput {
  font-size: 14px;
  width: 114px !important;
}
