.records {
  padding: 8px 0 16px;
  box-sizing: border-box;
  width: 100%;
  min-height: 400px;
}

.file {
  &_item {
    margin: 4px 0 6px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
  }
}

.itemDesc {
  width: 168px;
  color: #00000073;
  line-height: 22px;
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 240px;
}

.listTitle {
  cursor: pointer;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  height: 22px;
  color: #009688;
  font-size: 14px;
}
