.headerTitle {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;

  :global {
    .system-name {
      color: #000;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px; /* 177.778% */
    }
  }
}
