.content {
  padding-bottom: 24px;

  :global {
    .table-content {
      margin-top: 24px;
    }
  }
}

.customerCodePopover {
  max-width: 240px;
}

.operateBtn {
  padding: 0;

  :global {
    .btn-text {
      width: 60px;
      text-align: left;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
