.requirement {
  :global {
    .ant-form-item {
      margin-bottom: 0;
    }
  }
}

.intro {
  margin-bottom: 24px;
  color: #000;
  font-size: 16px;
  line-height: 24px;
}

.title {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}

.label {
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
}

.icon {
  position: absolute;
  top: 4px;
  font-size: 24px;
  cursor: pointer;
  color: #009688;
}

.addIcon {
  font-size: 24px;
  cursor: pointer;
  color: #009688;
}
