.bookingSummary {
  margin-bottom: 16px;
  background-color: #fff;
  padding: 8px 12px;
}

.summaryTable {
  :global {
    .ant-table-wrapper {
      min-height: 236px !important;
    }

    .ant-pro-card-body {
      padding: 0 0 12px !important;
    }

    .ant-table-cell-fix-left {
      background-color: #fafafa;
    }
  }
}

.summaryLine {
  padding: 16px 0;
  background-color: #eef6f4;
}
