.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.header {
  margin-top: -6px;
  width: 100%;
  background-color: #fff;
  border-radius: 2px;

  &_top {
    display: flex;
    justify-content: space-between;
    padding: 26px 24px 23px 23px;
    box-sizing: border-box;
    border-bottom: 1px solid #eff1f3;
    background: #fff;

    &_left {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #fff;
      border-radius: 2px;
      font-size: 14px;
      font-weight: 400;
      color: rgba(0, 0, 0, 85%);
      cursor: pointer;
      user-select: none;

      &_icon {
        font-size: 16px;
        margin-right: 2px;
      }
    }

    &_right {
      display: flex;
      gap: 24px;
    }
  }

  &_status {
    display: flex;
    align-items: center;
    margin-left: 24px;
    font-size: 18px;
    font-weight: 700;

    &_icon {
      margin-right: 12px;
      color: rgba(0, 150, 136, 100%);
      font-size: 24px;
    }
  }
}
