.endNode {
  width: 212px;
  height: 36px;
  padding: 0 12px;
  background-color: #889eb8;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
  cursor: grab;

  .nodeIcon {
    font-size: 24px;
    margin-right: 10px;
  }
}
