.title {
  color: rgba(0, 0, 0, 65%);
}

.customerProject {
  background-color: #fff;

  :global {
    .customerProjectTable {
      background-color: #fff;

      .ant-btn {
        padding: 0;
        height: auto;
      }

      .total-cell {
        color: rgba(0, 0, 0, 88%);
        font-weight: bolder;
      }

      .table-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 24px;
      }

      .total-row {
        td {
          background-color: #fafafa;
        }
      }
    }
  }

  .projectNameItem {
    cursor: pointer;

    .projectName {
      color: #009688;
      margin-right: 10px;
      text-decoration: underline;
    }
  }
}

.projectTrendsMain {
  margin-bottom: 16px;
  background-color: #fff;

  .projectTrendsLine {
    padding: 16px 0;
    background-color: #eef6f4;
    margin-bottom: 8px;
  }
}

.projectTrendsComparisonBarMain {
  margin-bottom: 16px;
  background-color: #fff;

  .projectTrendsComparisonBar {
    padding: 16px 0;
    background-color: #eef6f4;
  }

  .customerName {
    font-size: 16px;
    color: #000;
    font-weight: 600;
  }
}
