.main {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 8px;
}

.labelTips {
  text-align: justify;

  span {
    font-weight: 600;
  }

  i {
    display: inline-block;
    content: ' ';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #000;
    margin-bottom: 2px;
    margin-right: 10px;
  }
}
