.toolbarWrap {
  display: inline-block;
  background: #fff;
  border-radius: 4px;
  box-shadow:
    0 3px 6px -4px rgba(0, 0, 0, 12%),
    0 6px 16px 0 rgba(0, 0, 0, 8%),
    0 9px 28px 8px rgba(0, 0, 0, 5%);
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 1;

  :global {
    .toolbar {
      height: 44px;
      padding: 0 12px;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      .tool-item {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        user-select: none;

        > span {
          display: inline-flex;
          width: 28px;
          height: 28px;
          border-radius: 6px;
          justify-content: center;
          align-items: center;
          color: #2b2f36;

          &:hover {
            background: rgba(31, 35, 41, 10%);
          }
        }

        .zoom-item {
          color: #2b2f36;
        }

        .zoom-item.disabled {
          color: #bbbfc4;
          cursor: not-allowed;
        }
      }

      .tool-item.antd-icon {
        font-size: 18px;
      }
    }
  }
}
