.number {
  text-decoration: underline;
  cursor: pointer;
  color: #009688;
}

.statisticTable {
  :global {
    .ant-table-body {
      overflow-y: hidden !important;
      max-height: 500px !important;
    }
  }
}
