.customTabs {
  :global {
    .ant-tabs-content-holder {
      min-height: 400px;

      .ant-table-wrapper {
        min-height: 300px;
      }
    }
  }
}

.tabBar {
  background-color: #fff;
  margin-bottom: 18px !important;
}
