.creatorInfo {
  padding: 12px;
  background-color: #f5f5f5;
}

.creatorInfoItem {
  margin-bottom: 12px;
}

.creatorInfoLabel {
  color: rgba(0, 0, 0, 45%);
}

.operationLogsTitle {
  font-size: 16px;
  font-weight: 600;
  margin: 8px 0;
}

.operationList {
  border: 1px solid #f0f0f0;
  border-bottom: none;
}

.operationItem {
  padding: 12px;
  border-bottom: 1px solid #f0f0f0;
}
