.batchText {
  font-size: 14px;
  font-weight: 400;
  color: #aaa;
  line-height: 22px;
  margin-bottom: 24px;
}

.batchEditBtn {
  width: 197px;
  height: 44px;
  border-radius: 2px;
  margin: auto;
  font-size: 14px;
  font-weight: 400;
  color: #009688;
  border: 1px solid #009688;
  padding: 9px 16px;
  display: flex;
  align-items: center;

  &:hover {
    background-color: #009688 !important;
    color: #fff !important;
  }

  &:disabled {
    border-color: #d9d9d9 !important;
    color: rgba(0, 0, 0, 25%) !important;
    background-color: rgba(0, 0, 0, 4%) !important;
  }
}

.templateDataBtn:disabled {
  color: #fff;
  border: 1px solid #009688;
  background-color: #009688 !important;
  opacity: 0.65;
}

.labelTips {
  text-align: justify;
}
