.outer {
  background-color: #fff;

  :global {
    .ql-editor {
      overflow-y: auto;

      img {
        max-width: 720px !important;
        height: auto !important;
        max-height: 1080px !important;
        object-fit: cover;
      }
    }
  }
}

.readOnly {
  background-color: #fff;
}
