.operate {
  &_btn {
    user-select: none;
    cursor: pointer;
    font-size: 14px;
    color: rgba(0, 180, 153, 100%);
  }

  &_popover {
    margin: -9px;

    &_btn {
      cursor: pointer;
      padding-left: 12px;
      width: 116px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      height: 32px;
      color: rgba(0, 0, 0, 85%);
      font-size: 14px;
    }
  }

  &_line {
    width: 1px;
    height: 12px;
    background: rgba(0, 0, 0, 6%);
  }
}

.signer {
  display: flex;
  align-items: flex-end;
  gap: 1px;
}
