.claimTicketList {
  // height: 400px;
  :global {
    .ant-pro-query-filter {
      padding: 0 0 12px;
    }

    .ant-form-item {
      margin-bottom: 0 !important;
    }

    .ant-pro-card-body {
      padding: 0 0 24px;
    }

    .ant-pro-table-list-toolbar-container {
      padding: 12px 0;
    }
  }

  .proofUrl {
    width: 100%;
    cursor: pointer;
    color: #009688;
  }
}

.customToolZIndex {
  z-index: 999;
}
