.customDetailHeader {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  :global {
    .content {
      border: 0.5px solid #f0f0f0;
      border-right: none;
      border-bottom: none;
    }
  }
}

.collapse {
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;

  &:hover {
    color: var(--primary-color);
  }

  :global {
    .more {
      transform: rotate(90deg);
    }

    .less {
      transform: rotate(-90deg);
    }
  }
}
