.content {
  margin-top: 16px;
  width: 100%;
  padding: 13px 24px 0;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 2px;
}

.addContact {
  display: flex;
  align-items: center;
  border-radius: 2px;
  border: none;
  box-shadow: none;
  background-color: #fff;
  color: #009688;
  padding: 0;
  cursor: pointer;
  user-select: none;

  &_icon {
    margin-right: 4px;
    font-size: 16px;
    color: #009688;
  }
}
