.baseCell {
  min-width: 1px;
  min-height: 1px;

  // 撑开父元素
  &::before {
    content: attr(data-title);
    opacity: 0;
  }

  &::after {
    content: attr(data-title);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 8px;
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  :global {
    .innerChildren {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      padding: 8px;
      background-color: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2;
    }
  }
}

.alignCenter {
  &::after {
    justify-content: center;
  }

  :global {
    .innerChildren {
      justify-content: center;
    }
  }
}

.alignLeft {
  &::after {
    justify-content: start;
  }

  :global {
    .innerChildren {
      justify-content: start;
    }
  }
}

.alignRight {
  &::after {
    justify-content: end;
  }

  :global {
    .innerChildren {
      justify-content: end;
    }
  }
}
