.priceInquiryFilterForm {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;
}

.routerLibrarySearch {
  border: 1px dotted rgba(0, 0, 0, 45%);
  border-radius: 8px;
}

.routerLibraryDivider {
  margin: -16px 0 16px !important;
}

.billingMode {
  font-size: 14px;
  font-style: italic;
  color: rgba(0, 0, 0, 50%);
  margin-left: 10px;
}
