body {
  font-family: Roboto, sans-serif;
}

.ant-pro-layout .ant-pro-layout-bg-list {
  background-color: #f5f5f5;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.table-option-cell-btn {
  margin-right: 17px;
}

.table-option-cell-btn.disabled {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 25%);
  background-color: rgba(0, 0, 0, 4%);
  box-shadow: none;
  //   pointer-events: none;
}

.ant-pro-table-column-setting-list-item-title {
  .ellipsis;
}

.ant-pro-base-menu-inline-item-icon {
  display: flex;
  align-items: center;
}

.ant-btn-primary {
  box-shadow: none;
}

.ant-menu-submenu.ant-menu-submenu-popup
  .ant-pro-base-menu-inline-item-title-collapsed {
  flex-direction: initial;
  justify-content: initial;
}

// .ant-modal .ant-modal-content {
//   padding: 16px 0 !important;
// }

// .ant-modal .ant-modal-header {
//   padding: 0 24px;
//   margin-bottom: 16px;
// }

// .ant-modal .ant-modal-body {
//   padding: 0 24px;
// }

// .ant-modal-confirm.ant-modal .ant-modal-body {
//   padding: 0 24px;
// }

// .ant-modal .ant-modal-body .ant-form-item-label label {
//   width: 100%;
//   display: flex;
// }

// .ant-modal .ant-modal-footer {
//   margin-top: 16px;
//   padding-top: 16px;
//   padding-right: 24px;
//   padding-bottom: 8px;
//   border-top: 1px solid #eff1f4;
// }

// .ant-input,
// .ant-modal .ant-modal-footer .ant-btn,
// .ant-upload-wrapper .ant-upload-drag,
// .ant-upload-wrapper .ant-upload-drag .ant-upload-btn,
// .ant-picker-range,
// .ant-input-affix-wrapper,
// .ant-picker,
// .ant-input-number-affix-wrapper,
// .ant-input-number .ant-input-number-input {
//   border-radius: 2px;
// }

//.ant-timeline-item-tail {
//  border-inline-start: 1px solid #009688 !important;
//}

// .ant-table-wrapper
//   .ant-table-container
//   table
//   > thead
//   > tr:first-child
//   > *:first-child {
//   border-start-start-radius: 2px;
// }

// .ant-table-wrapper
//   .ant-table-container
//   table
//   > thead
//   > tr:first-child
//   > *:last-child {
//   border-start-end-radius: 2px;
// }

// .fuzzy-query-single .fuzzy-query-selector {
//   border-radius: 6px;
// }

// .fuzzy-multiple-query-multiple .fuzzy-multiple-query-selector {
//   border-radius: 6px;
// }

.fuzzy-query-option {
  padding: 0 !important;

  .custom-option {
    padding: 5px 12px;
  }
}

// .ant-btn {
//   border-radius: 6px;
// }

.ant-select-single .ant-select-selector {
  border-radius: 6px;
}

.readonly-form {
  font-size: 12px;

  .ant-form-item-label {
    > label {
      color: #666;
    }
  }

  .ant-form-item-control-input-content {
    > span {
      padding: 0 !important;
    }
  }
}

.use-waybill-list {
  .customTable {
    .ant-pro-card {
      border-top-left-radius: 0;
      border-top-right-radius: 0;

      .ant-pro-table-list-toolbar-container {
        padding-block: 12px;
      }
    }
  }
}

.ant-form-item-has-error {
  .quill {
    .ql-toolbar,
    .ql-container {
      border-color: var(--danger-color);
    }
  }
}
