.projects {
  padding: 8px 0;
  box-sizing: border-box;
  min-height: 400px;
  width: 100%;

  :global {
    .customTable {
      .ant-pro-query-filter {
        padding: 0;
        padding-bottom: 24px;
      }

      .ant-pro-card-body {
        padding: 0;
      }
    }
  }
}

.commonText {
  //padding: 0 24px;
  height: 22px;
  font-size: 14px;
  font-weight: 400;
  color: #595959;
}

.statusText {
  font-size: 14px;
  font-weight: 400;
}

.option {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  &_btn {
    margin: 0;
    padding: 0 6px;
    display: flex;
    align-items: center;
    height: 24px;
    font-size: 14px;
    font-weight: 400;
    color: #009688;
    cursor: pointer;
    user-select: none;
  }
}
