.performanceComparison {
  color: #000;

  :global {
    .charts {
      padding: 24px;
      background-color: #fff;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;

      .chartItemTitle {
        font-size: 16px;
        font-weight: 400;
        color: #000;
        line-height: 24px;
      }
    }

    .ant-picker-clear {
      display: none;
    }
  }
}
