.groupMessage {
  background-color: #fff;
  height: calc(100vh - 100px);
  padding: 24px;

  .groupMessageForm {
    width: 500px;

    :global(.ant-select-single.ant-select-open .ant-select-selection-item) {
      //  color: rgba(0,0,0,0.25) !important;
      span {
        color: rgba(0, 0, 0, 25%) !important;
      }
    }
  }
}
