.proof {
  width: 100%;
  padding: 8px 0;
  box-sizing: border-box;
}

.listItemMaterial {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.materialItem {
  width: 118px;
  height: 118px;
}

.description {
  margin-top: 24px;
  width: 700px;
}

.content {
  text-wrap: wrap;
  font-size: 14px;
  line-height: 22px;
  color: #000;
}
