.header {
  padding: 16px 24px;
  padding-bottom: 0;
  width: 100%;
  box-sizing: border-box;

  :global {
    .title {
      margin-bottom: 12px;
    }
  }

  &_title {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_icon {
      font-size: 14px;
    }

    &_name {
      margin: 0;
      padding: 0;
      font-size: 18px;
      font-weight: 700;
      color: #252525;
    }

    &_edit {
      padding: 0;
      font-size: 14px;
      font-weight: 400;
      color: #009688;
      cursor: pointer;
      user-select: none;
    }
  }

  &_wrap {
    width: 80%;
    display: flex;
    justify-content: flex-start;

    &_content {
      margin: 0 24px 0 0;
      padding: 0;
      font-size: 32px;
      font-weight: 700;
      color: #262626;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 80%;
      display: inline-block;
    }

    &_name {
      margin: 0;
      padding: 0;
      font-size: 18px;
      font-weight: 700;
      line-height: 18px;
      color: #252525;
    }

    &_title {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 100%;
      display: inline-block;
      line-height: 32px;
    }

    &_status {
      height: 50px;
      display: flex;
      align-items: center;

      :global {
        .ant-badge-status-text {
          font-size: 18px !important;
        }
      }
    }
  }

  &_name {
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-weight: 700;
    color: #262626;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 80%;
    display: inline-block;
  }

  &_content {
    // padding-top: 24px;
    // padding-left: 12px;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 16px;
  }

  &_logo {
    display: flex;
    justify-content: flex-start;
    gap: 24px;
    padding-left: 17px;
    padding-bottom: 12px;
    // border-bottom: 1px solid rgba(0, 0, 0, 10%);

    &_content {
      flex: 1;
      display: flex;
      justify-content: space-between;
    }

    &_title {
      display: flex;
      justify-content: space-between;
      gap: 24px;
    }

    &_name {
      font-size: 20px;
      font-weight: 500;
      height: 28px;

      :global {
        .ant-badge-status .ant-badge-status-text {
          font-size: 20px;
        }
      }
    }
  }

  &_customTitle {
    padding-bottom: 12px;
    display: flex;
    justify-content: space-between;
  }

  &_bordered {
    border-bottom: 1px solid rgba(0, 0, 0, 10%);
  }
}

.item {
  width: calc(16.6% - 13.4px);

  &_label {
    margin: 0;
    display: flex;
    align-items: center;
    height: 22px;
    font-size: 14px;
    color: var(--character-primary-45);
    font-weight: 400;

    &_text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &_tag {
      margin-left: 8px;
      padding: 1px 8px;
      border-radius: 2px;
      align-items: center;
      font-family: Roboto;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      white-space: nowrap;
    }
  }

  &_name {
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 22px;
    line-height: 22px;
    word-break: break-word;
    font-size: 14px;
    color: #262626;
    font-weight: 500;
  }

  .ellipsis {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.infoItem {
  // width: calc(10% - 15px);
  width: 146px;
}

.collapse {
  width: 100%;
  margin-top: 8px;
  display: flex;
  justify-content: center;
  cursor: pointer;

  &:hover {
    color: var(--primary-color);
  }

  :global {
    .more {
      transform: rotate(90deg);
    }

    .less {
      transform: rotate(-90deg);
    }
  }
}

.blueText {
  color: #1677ff;
}
