.expiringDay {
  @color-normal: #000000;
  @color-warning: #faad14;
  @color-danger: #ff4d4f;
  @color-disabled: #bfbfbf;

  // 状态样式
  &.status-normal {
    color: @color-normal;
  }

  &.status-warning {
    color: @color-warning;
  }

  &.status-danger {
    color: @color-danger;
  }

  &.status-disabled {
    color: @color-disabled;
  }
}
