.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;

  &_header {
    padding-bottom: 12px;
    // border-bottom: #eff1f3 dashed 1px;

    &_title {
      display: flex;
      align-items: center;
      // height: 24px;
      line-height: 24px;
      font-size: 18px;
      font-family: Roboto-Medium, Roboto;
      font-weight: 500;
      color: #838ca1;
    }

    &_desc {
      margin-left: 12px;
      display: flex;
      align-items: center;
      // height: 24px;
      line-height: 24px;
      font-size: 24px;
      font-family: Roboto-Bold, Roboto;
      font-weight: 500;
      color: #262626;
    }
  }
}
